@import "config";

.btn-wrapper {
  position: absolute;
  bottom: 17.5%;
  right: 40%;
  border-radius: 100%;
  box-shadow: 0px 10px 20px 10px $grayish-blue;
  .btn {
    position: relative;
    line-height: 2em;
    margin: 0;
    padding: 1em 1em 0.7em 1em;
    background: white;
    cursor: pointer;
  }
  .btn__prev {
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
  }
  .btn__next {
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
  }
  @include mobile {
    position: absolute;
    top: 42%;
    left: 40%;
    right: auto;
    bottom: auto;
  }
}
